
$white: #e5e4ff;
$text-gray: #82827b;

$primary-bg: #787958;
$primary-color: #e5e4ff;

$body-bg: #787958;

$navbar-height: 75px;
$navbar-border: 3px;
$navbar-bg: darken($primary-bg, 15%); //#4c4d38;
$navbar-color: $primary-color;
