@import 'normalize.css';
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');

html {
  font-family: 'Josefin Sans', sans-serif;
  background: $body-bg;
  line-height: 1.4;
}





input[type=text], input[type=password], input[type=date], input[type=number], textarea, select {
  width: 100%;
  padding: 0.5em;
  margin: 0 0 1.5rem;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  font-size: 1.5em;
  background-color: rgba(255, 255, 255, 0.75);
  transition: border-color 0.2s, background-color 0.2s;
  resize: vertical;

  &:focus {
    outline: none;
    border-color: #00a1ff;
    background-color: rgba(255, 255, 255, 0.9);
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }

  &::placeholder {
    font-weight: lighter;
  }
}

input[type=submit], button.btn, a.btn {
  width: 100%;
  padding: 0.5em 0.5em;
  font-size: 1.5em;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: #00a1ff;
  color: white;
  transition: border 0.2s, background-color 0.2s, color 0.2s;
  text-decoration: none;

  &:focus {
    outline: none;
    background-color: lighten(#00a1ff, 10%);
    border-color: rgba(255, 255, 255, 0.75);
  }
  &:hover {
    border-color: rgba(255, 255, 255, 0.5);
    background-color: lighten(#00a1ff, 10%);
  }
  &:active {
    border-color: rgba(255, 255, 255, 0.2);
    background-color: darken(#00a1ff, 15%);
    color: darken(white, 15%);
  }
  &:disabled {
    background-color: lighten(#00a1ff, 10%);
    border-color: rgba(255, 255, 255, 0.2);
    color: white;
  }

  &.btn-pending {
    cursor: progress;
  }
  &.btn-success {
    background-color: #6ccc29;
  }

  &.btn-error {
    background-color: #da3d03;
  }

  &.btn-cancel {
    background-color: #4c4d38;
  }
}

.btn-row {
  display: flex;
  margin: 0 -0.75rem;

  .btn {
    margin: 0 0.75rem;
  }
}


.fa-icon {
  width: auto;
  height: 1.2em; /* or any other relative font sizes */
  vertical-align: text-bottom;

  /* You would have to include the following two lines to make this work in Safari */
  max-width: 100%;
  max-height: 100%;
}

a .fa-icon {
  margin-right: 0.5em;
}



.white-page {
  background: rgba(255, 255, 255, 0.8);
  margin: 0;
  padding: 1em;

  @media (min-width: 630px) {
    padding: 2em;
  }

  @media (min-width: 786px) {
    border: 1px solid rgba(255,255,255,0.5);
    margin: 2em auto;
    border-radius: 3px;
    box-shadow: 2px 5px 15px rgba(0,0,0,0.3);
    max-width: 40em;
    padding: 2.5em;
  }

  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
    margin-top: 0;
  }
}

.form-page {
  margin: 0;
  padding: 1em;

  @media (min-width: 630px) {
    padding: 2em;
  }

  @media (min-width: 786px) {
    margin: 2em auto;
    max-width: 40em;
    padding: 2.5em;
  }
}

section.markdown {
  table {
    border-collapse: collapse;
    width: 100%;
	  background-color: rgba(255,255,255,0.5);
    box-shadow: 1px 2px 10px rgba(0,0,0,0.1);
    tr {
      th {
        padding: 0.5em;
        border-bottom: 2px solid rgba(0,0,0,0.2);
    	  background-color: rgba(255,255,255,0.4);
      }
      td {
        padding: 0.5em;
        border-bottom: 1px solid rgba(0,0,0,0.2);
      }
    }
    tr:last-child {
      td {
        border-bottom: none;
      }
    }
  }
}

article header {
  color: $text-gray;
  font-weight: lighter;
  font-size: 95%;
  text-align: right;
}

.img-round {
  border-radius: 100%;
}


.vdp-datepicker__calendar {
  //margin-top: -1.5em;
}

.page-enter-active {
  transition: opacity 0.20s;
}
.page-leave-active {
  transition: opacity 0.10s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

.layout-enter-active, .layout-leave-active {
  transition: opacity 0.15s;
}
.layout-enter, .layout-leave-to {
  transform: translateY(-0px);
}

.login-enter-active {
  transition: all 0s;
}
.login-leave-active {
  transition: transform 0.4s ease-in, opacity 0.3s ease-out 0.1s;
}
.login-enter, .login-leave-to {
  transform: translateY(-80%);
  opacity: 0;
}

.login-form-enter-active, .login-form-leave-active {
  transition: all 0.2s;
}
.login-form-enter, .login-form-leave-to {
  opacity: 0;
  transform: scale(0.5);
}


.fade-enter-active, .fade-leave-active {
  transition: all 0.2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
